.error {
  color: red;
  font-style: italic;
}

.btn_c {
  background-color: black;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  width: 90px 40px;
}

.btn_c:hover {
  background-color: rgb(75, 74, 71);
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  width: 90px 40px;
}

.edit {
  color: red;
  text-decoration: none;
  float: right;
}

.content-section {
  background: #fdfcfc;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

form { padding: 20px; }

.select {
  -webkit-appearance: none;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  background: url("baseline-arrow_drop_down-24px.svg") 100% / 11% no-repeat #eee;
  background-color: white;
  color: #555;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgb(141, 140, 140);
}