<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body >

  <header th:replace="fragments :: header"></header>

  <form method="post" style="max-width:600px;" th:object="${category}">

    <div class="container">

      <div class="row">
        <div class="input-field col s12 m8 l10">
          <input type="text" th:field="*{name}" />
          <label th:for="name">Category Name </label>
        </div>
        <span th:errors="*{name}" class="error"></span>
      </div>

      <div class="row">
        <div class="input-field center col s8 m8 l8">
          <input class="btn black white-text" type="submit" value="Add Category" />
        </div>
      </div>

    </div>

  </form>
  <div th:replace="fragments :: scripts"></div>
</body>
</html>