<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

  <header th:replace="fragments :: header"></header>
  <div th:replace="fragments :: notification-tabs"></div>

  <section class="container add-btn">
    <div class="row">
      <div class="col s12 m2">
        <a class="btn black white-text" th:href="@{/message/add}">
          ADD<i class="material-icons right">check</i>
        </a>
      </div>
      <div class="col s12 m3">
        <a class="btn red darken-1 white-text" th:href="@{/category/remove-task}">
          remove<i class="material-icons right">remove</i>
        </a>
      </div>
    </div>
  </section>

  <div class="container-fluid">

    <div class="row">

      <div class="col s12 m4 l4">
        <div>
          <table>
            <tr>
              <th class="red lighten-4">Mornings</th>
            </tr>
            <div class="table" th:each="task : ${dailyTasks}">
              <tr th:if="${ #strings.containsIgnoreCase(task.shift,'morning') }">
                <td th:text="${task.body}"></td>
              </tr>
            </div>
          </table>
        </div>
      </div>

      <div class="col s12 m4 l4">
        <table>
          <tr>
            <th class="deep-purple lighten-4">Afternoons</th>
          </tr>
          <div class="table" th:each="task : ${dailyTasks}">
            <tr th:if="${ #strings.containsIgnoreCase(task.shift,'afternoon') }">
              <td th:text="${task.body}"></td>
            </tr>
          </div>
        </table>
      </div>

      <div class="col s12 m4 l4">
        <table>
          <tr>
            <th class="grey lighten-2">Evenings</th>
          </tr>
          <div class="table" th:each="task : ${dailyTasks}">
            <tr th:if="${ #strings.containsIgnoreCase(task.shift,'evening') }">
              <td th:text="${task.body}"></td>
            </tr>
          </div>
        </table>
      </div>

    </div>

  </div>

  <div th:replace="fragments :: scripts"></div>


</body>

</html>