<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
  <meta charset="UTF-8"/>
  <title th:text="${title}">Manager App</title>

  <link rel="stylesheet" th:href="@{/css/style.css}"/>
<!--  <link rel="stylesheet" th:href="@{/css/materialize.css}"/>-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />

</head>

<body>

<!--Navbar-->
  <header th:fragment="header">
    <nav class="nav-wrapper black">
      <div class="container">
        <a href="" class="brand-logo">Manager App</a>
        <a href="" class="sidenav-trigger" data-target="mobile-menu">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li><a th:href="@{/message}">All Notification</a></li>
          <li><a th:href="@{/category}">Schedule</a></li>
          <li><a th:href="@{/menu}">Grill</a></li>
        </ul>
        <ul class="sidenav grey lighten-2" id="mobile-menu">
          <li><a th:href="@{/message}">All Notification</a></li>
          <li><a th:href="@{/category}">Schedule</a></li>
          <li><a th:href="@{/menu}">Grill</a></li>
        </ul>
      </div>
    </nav>
  </header>

<!--Tabs of the Notification section of the app-->
  <div th:fragment="notification-tabs">
    <section class="container">
      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab ">
              <a class="deep-orange lighten-2 black-text"  th:href="@{'/category/index/' + ${urgentId}}">Urgent</a>
            </li>
            <li class="tab ">
              <a class="teal lighten-4 lighten-4 black-text" th:href="@{'/category/index/' + ${generalId}}">General</a>
            </li>
            <li class="tab ">
              <a  class="light-green lighten-2 black-text" th:href="@{/message/completed}">Completed</a>
            </li>
            <li class="tab ">
              <a class="brown lighten-3 black-text" th:href="@{/category/daily-task}">Daily Tasks</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>

<!--Add button-->
  <div th:fragment="add-btn">
    <section class="container add-btn">
      <div class="row">
        <div class="col s8 m3 l3">
          <a class="btn black white-text" th:href="@{/message/add}">
            ADD<i class="material-icons right">note_add</i>
          </a>
        </div>
<!--        <div class="col s8 m3 l3">-->
<!--          <a class="btn black white-text" th:href="@{/category/add}">Add Cate-->
<!--          </a>-->
<!--        </div>-->
      </div>
    </section>
  </div>

<!--Message box-->
  <div th:fragment="message">
    <div class="container ">
      <div class="row" th:each="message : ${messages}">
        <div class="col s12 m12 l12">
          <div class="card  grey lighten-4 hoverable">
            <div class="card-content black-text">
              <span>
                <form method="post" th:action="@{'/message/remove/' + ${message.id}}">
                  <input class="btn light-green lighten-2 black-text" type="submit" value="Mark Completed" />
                </form>
              </span>
              <span class="card-title  teal-text darken-3" th:text="${message.title}"></span>
              <p class = "flow-text" th:text="${message.body}"></p>
            </div>
            <div class="card-action">
              <span>From | </span>
              <a href="" class="orange-text accent-4-text" th:text="${message.author}"></a>
              <span>To | </span>
              <a href="" class="blue-text accent-4-text" th:text="${message.shift}"></a>
              <a class="black-text" th:text="${message.dateUpdated}"></a>
              <a href="" class="red-text" th:text="${message.category.name}"></a>
              <a class="btn-small deep-orange darken-4 white-text edit_msg" th:href="@{'/message/edit/' + ${message.id}}">Edit</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!--Scripts-->
  <div th:fragment="scripts">
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!--    <script type="text/javascript" th:href="@{/js/materialize.js}"></script>-->
    <script>
      $(document).ready(function(){
        $('.sidenav').sidenav();
      });
    </script>
  </div>


</body>
</html>