<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

  <header th:replace="fragments :: header"></header>


  <form class="col s12" method="post" th:object="${message}">
    <div class="container">
      <div class="row">
        <div class="input-field col s12 m6 l6">
          <input type="text" id="author" th:field="*{author}" />
          <label for="author">From</label>
        </div>
        <span th:errors="*{author}" class="error"></span>
      </div>

      <div class="row">
        <div class="input-field col s12 m6 l6">
          <input type="text" th:field="*{title}" />
          <label>Title </label>
        </div>
        <span th:errors="*{title}" class="error"></span>
      </div>

      <div class="row">
        <div class="input-field col s12 m8 l8">
          <textarea class="materialize-textarea" rows="6" th:field="*{body}"></textarea>
          <label>Message </label>
        </div>
        <span th:errors="*{body}" class="error"></span>
      </div>

      <div class="row">
        <div class="col s12 m6 l6">
          <p th:for="category">Category</p>
          <select name="categoryId" class="select browser-default">
            <option th:each="category : ${categories}" th:text="${category.name}" th:value="${category.id}"></option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m6 l6">
          <p th:for="shift">To</p>
          <select th:field="*{toShift}" class="select browser-default">
            <option th:each="shift : ${shifts}"
                    th:text="${shift}"
                    th:value="${shift}"></option>
          </select>
        </div>
      </div>


      <div class="row">
        <div class="input-field col s4 m1 l1">
          <input class="btn indigo darken-4 white-text" type="submit" value="ADD" />
        </div>
      </div>
    </div>
  </form>



  <div th:replace="fragments :: scripts"></div>

</body>

</html>